<link rel="stylesheet" href="./index.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
<script>
    angular.module('myApp', [])
        .controller('myCtrl', ['$scope', '$timeout', '$http', '$interval', '$window', function ($scope, $timeout, $http, $interval, $window) {
            $scope.checkAuth = function () {
                console.log("checkAuth", window.localStorage.getItem("phone"))
                if (window.localStorage.getItem("phone") != undefined && window.localStorage.getItem("phone") != null && window.localStorage.getItem("phone").length > 0) {
                    window.location.href = "http://localhost:5001/otp_form.html"
                } else {
                    window.localStorage.clear();
                }
            }
        }]);
</script>
<div class="form-modal" ng-app="myApp" ng-controller="myCtrl" ng-init="checkAuth()">
    <div class="form-toggle">
        <button id="login-toggle" onclick="toggleLogin()">log in</button>
        <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
    </div>

    <div id="login-form">
        <form method="POST" action="/validate_user">
            <input type="text" placeholder="Enter phone" name="phone" id="phone" />
            <input type="password" placeholder="Enter password" name="password" />
            <button class="btn login" type="submit" onclick="savePhone()">login</button>
            <!-- <p><a href="javascript:void(0)">Forgotten account</a></p> -->
        </form>
    </div>

    <div id="signup-form">
        <form>
            <input type="email" placeholder="Enter your phone" />
            <input type="text" placeholder="Choose username" />
            <input type="password" placeholder="Create password" />
            <button type="button" class="btn signup">create account</button>
            <!-- <p>Clicking <strong>create account</strong> means that you are agree to our <a -->
            <!-- href="javascript:void(0)">terms of services</a>.</p> -->
        </form>
    </div>
</div>

<script>
    function toggleSignup() {
        document.getElementById("login-toggle").style.backgroundColor = "#fff";
        document.getElementById("login-toggle").style.color = "#222";
        document.getElementById("signup-toggle").style.backgroundColor = "#57b846";
        document.getElementById("signup-toggle").style.color = "#fff";
        document.getElementById("login-form").style.display = "none";
        document.getElementById("signup-form").style.display = "block";
    }

    function toggleLogin() {
        document.getElementById("login-toggle").style.backgroundColor = "#57B846";
        document.getElementById("login-toggle").style.color = "#fff";
        document.getElementById("signup-toggle").style.backgroundColor = "#fff";
        document.getElementById("signup-toggle").style.color = "#222";
        document.getElementById("signup-form").style.display = "none";
        document.getElementById("login-form").style.display = "block";
    }
    function savePhone() {
        window.localStorage.setItem("phone", document.getElementById("phone").value);
    }
</script>