<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="./otp_form.css">
<!------ Include the above in your HEAD tag ---------->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
<script>
    angular.module('myApp', [])
        .controller('myCtrl', ['$scope', '$timeout', '$http', '$interval', '$window', function ($scope, $timeout, $http, $interval, $window) {
            $scope.verifyOtp = function () {
                console.log("$scope.otp", $scope.otp);
                var phone = window.localStorage.getItem("phone");
                $http.get('http://localhost:5001/verify_otp/' + phone + "/" + $scope.otp).then(function (response) {
                    console.log("response", response.data);
                    if (response.data.indexOf('.html') != -1)
                        window.location.href = response.data;
                    else if (response.data != null && response.data != "null") {
                        window.localStorage.clear();
                        window.localStorage.setItem("user", response.data);
                        $scope.checkAuth();
                    } else {
                        $('#newUserForm').css({ "display": "flex" });
                        $('#otp_enter').css({ "display": "none" });
                    }
                })
            }
            $scope.createNewUser = function () {
                var data = {};
                data.phone = window.localStorage.getItem("phone");
                data.contact_name = $scope.user;
                $http.post('http://localhost:5001/create_user', data).then(function (response) {
                    console.log("response", response.data);
                    debugger;
                    window.localStorage.clear();
                    window.localStorage.setItem("user", response.data);
                    $scope.checkAuth();
                })
            }
            $scope.checkAuth = function () {
                if (window.localStorage.getItem("user") != undefined && window.localStorage.getItem("user") != null)
                    window.location.href = "http://localhost:5001/home.html";
                else if (window.localStorage.getItem("phone") != undefined && window.localStorage.getItem("phone") != null && window.localStorage.getItem("phone").length > 0)
                    console.log("correct page");

                else
                    window.location.href = "http://localhost:5001/index.html"
            }
        }]);
    $(function () {
        document.getElementsByClassName("card-header")[0].innerHTML = "Enter OTP sent to " + window.localStorage.getItem("phone");

        $("input.decimal").bind("change keyup input", function () {
            var position = this.selectionStart - 1;
            //remove all but number and .
            var fixed = this.value.replace(/[^0-9\.]/g, "");
            if (fixed.charAt(0) === ".")
                //can't start with .
                fixed = fixed.slice(1);

            var pos = fixed.indexOf(".") + 1;
            if (pos >= 0)
                //avoid more than one .
                fixed = fixed.substr(0, pos) + fixed.slice(pos).replace(".", "");

            if (this.value !== fixed) {
                this.value = fixed;
                this.selectionStart = position;
                this.selectionEnd = position;
            }
        });

        $("input.integer").bind("change keyup input", function () {
            var position = this.selectionStart - 1;
            //remove all but number and .
            var fixed = this.value.replace(/[^0-9]/g, "");

            if (this.value !== fixed) {
                this.value = fixed;
                this.selectionStart = position;
                this.selectionEnd = position;
            }
        });
    });
</script>

<div class="container" class="row justify-content-md-center" ng-app="myApp" ng-controller="myCtrl"
    ng-init="checkAuth()">
    <div id="newUserForm" style="display: none;">
        <p>Looks like you are not registered yet! No worries... just enter username and we are ready to go.</p><br><br><br>
        <input type="text" placeholder="Your name..." ng-model="user">
        <button class="btn btn-success" ng-click="createNewUser()">Submit</button>
    </div>
    <div class="row" id="otp_enter">
        <div class="col-sm-6 col-sm-offset-2">
            <!-- col -->
            <h2>
                <h1>Check your phone!</h1>
            </h2>
            <p class="desc">We’ve sent a six-digit confirmation code to <strong>----------</strong> &
                Enter it below to confirm your mobile number.</p>
            <br><br><br>
            <label><span class="normal">Your </span>confirmation code</label>
            <div class="confirmation_code split_input large_bottom_margin" data-multi-input-code="true">
                <div class="confirmation_code_group">
                    <div class="split_input_item input_wrapper"><input type="text" class="inline_input" maxlength="6" ng-model="otp">
                    </div>
                </div>
            </div>
            <button class="btn btn-success" ng-click="verifyOtp()">Submit</button>
        </div><!-- endof col -->
    </div>
</div>